<mat-card class="project-card">
  <mat-card-header>
    <mat-card-title>
      <span class="project-title">{{ project.name }}</span>
    </mat-card-title>
    <mat-card-subtitle *ngIf="project.description">
      <span class="project-subtitle">{{ project.description }}</span>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p><strong>{{ 'project-card.starting-date' | translate }}:</strong> {{ project.startingDate | date }}</p>
    <p><strong>{{ 'project-card.ending-date' | translate }}:</strong> {{ project.endingDate | date }}</p>
  </mat-card-content>
</mat-card>
