<mat-card class="info-card">
  <mat-card-title>Organization Information</mat-card-title>

  <mat-card-content>
    <div class="info-field">
      <span class="label">Commercial Name</span>
      <span class="value">{{organization?.commercialName}}</span>
    </div>

    <div class="info-field">
      <span class="label">Legal Name</span>
      <span class="value">{{organization?.legalName}}</span>
    </div>

    <div class="info-field">
      <span class="label">RUC</span>
      <span class="value">{{organization?.ruc?.value}}</span>
    </div>

    <div class="info-field">
      <span class="label">Contractor</span>
      <span class="value">{{contractor?.fullName}}</span>
    </div>
  </mat-card-content>
</mat-card>
