.toolbar-top {
  background-color: #22396B;
  color: white;
  display: flex;
  justify-content: space-between;
}

.toolbar-top mat-icon {
  color: white !important;
}


.toolbar-nav {
  background-color: white;
  color: #333;
  justify-content: center;
  gap: 1.5rem;
  padding: 0 1rem;
  border-bottom: 1px solid #ddd;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 auto;
}

.spacer {
  flex: 1 1 auto;
}

.icon-left {
  margin-right: 0.5rem;
}

button.mat-button.active {
  text-decoration: underline;
  font-weight: bold;
}
