.members-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 1rem;
}

.members-header {
  display: flex;
  justify-content: flex-end;
  padding: 0 1rem 0 1rem;
  margin-bottom: -0.5rem;
}

.member-avatar {
  background-color: #1976d2; /* azul Material */
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-transform: uppercase;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}

mat-card {
  transition: box-shadow 0.3s ease;
  position: relative; /* necesario para posicionar delete-button */
}

mat-card:hover {
  box-shadow: 0 4px 20px rgba(0,0,0,0.15);
}

.delete-button {
  position: absolute;
  top: 8px;
  right: 8px;
}
